{{define "footer"}}
<footer>
    <hr>
    <p>&copy;  {{.CurrentYear}} - Marius Costache - anul 2 - grupa 203 - Universitatea Spiru Haret - Facultatea de Inginerie si Informatica</p>
    <hr>
</footer>
{{end}}