{{define "footer"}}
<footer>
    <p>&copy; 2021 - Marius Costache - anul 2 - grupa 203 - Universitatea Spiru Haret - Facultatea de Inginerie si Informatica</p>
    <p>Frontend made with HTML, CSS, Javascript</p>
    <p>Backend made with <a href='https://golang.org/'>Go</a> and PostgreSQL</p>
</footer>
{{end}}