{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Ultimele joburi adaugate</h2>
{{if .Ads}}
<table>
        <tr>
                <th>Titlu</th>
                <th>Creat la</th>
                <th>ID</th>
        </tr>
        {{range .Ads}}
        <tr>
                <td><a href='/job/{{.ID}}'>{{.Title}}</a></td>
                <td>{{humanDate .Created}}</td>
                <td>#{{.ID}}</td>
        </tr>
        {{end}}
</table>
{{else}}
<p>Niciun job adaugat deocamdata!</p>
{{end}}
{{end}}