{{template "base" .}}

{{define "title"}}Change Password{{end}}

{{define "main"}}
<h2>Schimba parola</h2>
<form action='/user/change-password' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
    <div>
        <label>Parola curenta:</label>
        {{with .Errors.Get "currentPassword"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' placeholder='parola curenta' name='currentPassword'>
    </div>
    <div>
        <label>Parola noua:</label>
        {{with .Errors.Get "newPassword"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' placeholder='parola noua'  name='newPassword'>
    </div>
    <div>
        <label>Confirma parola noua:</label>
        {{with .Errors.Get "newPasswordConfirmation"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type="password"  placeholder="confirma parola" name="newPasswordConfirmation" />
    </div>
    <div>
        <input type='submit' value='Schimba parola'>
    </div>
    {{end}}
</form>
{{end}}