{{template "base" .}}

{{define "title"}}User Profile{{end}}

{{define "main"}}
<h2>Profil User</h2>
{{with .User}}
<table>
    <tr>
        <th>Nume</th>
        <td>{{.Name}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{.Email}}</td>
    </tr>
    <tr>
        <th>Inregistrat la</th>
        <td>{{humanDate .Created}}</td>
    </tr>
    <tr>
        <th>Parola</th>
        <td><a href="/user/change-password">Schimba parola</a></td>
    </tr>
</table>
{{end }}
{{end}}