{{template "base" .}}

{{define "title"}}Job Ad #{{.Ad.ID}}{{end}}

{{define "main"}}
{{with .Ad}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
    </div>
    <pre><code>{{.Content}}</code></pre>
    <div class='metadata'>
        <time>Creat la: {{humanDate .Created}}</time>
        <time>Expira la: {{humanDate .Expires}}</time>
    </div>
    <div class='metadata'>
    <a class="button" href="/apply">Aplica la job</a>
    </div>
</div>
{{end}}
{{end}}